<div class="main-div">
    <br>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese una tarea</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button>Agregar tarea</button>
        <br>
        <mat-card *ngIf="true">
            <h3 style="font-weight: 500;">No hay tareas pendientes</h3>
            <mat-divider></mat-divider>
        </mat-card>
        <br>
        <mat-card *ngIf="true">
            <h3 style="font-weight: 500;">No hay tareas completadas</h3>
            <mat-divider></mat-divider>
        </mat-card>
    </form>
</div>