<div class="main-div">
    <br>
    <form>
        <mat-form-field appearance="fill">
            <mat-label type="text">Ingrese una tarea</mat-label>
            <input (keydown.enter)="addTask()" type="text" [(ngModel)]="taskName" matInput name="taskName">
        </mat-form-field>
        <button type="button" mat-raised-button (click)="addTask()" [disabled]="!taskName">Agregar tarea</button>
        <br>
        <mat-card *ngIf="tasksList.length == 0">
            <h3 style="font-weight: 500;">No hay tareas pendientes</h3>
            <mat-divider></mat-divider>
        </mat-card>

        <mat-card *ngIf="tasksList.length > 0">
            <h3 style="font-weight: 500;">Listado de Tareas</h3>
            <mat-divider></mat-divider>
            <br>
            <ul>
                <li *ngFor="let task of tasksList; let indice = index;">
                    <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="task.completed"
                        (ngModelChange)="changeStateTask()"> {{ task.name }} - {{task.completed}} </mat-checkbox>
                </li>
            </ul>
        </mat-card>

    </form>
</div>