<div class="main-div">
  <h1>Aplicación de mensajería Web</h1>
  <div class="bannerOption">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="usuarios">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Usuarios Conectados</span>
      </button>
      <button mat-menu-item (click)="exitChat()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

    <mat-menu #usuarios="matMenu" style="overflow: scroll">
      <span mat-menu-item *ngFor="let user of listaUsuarios"> {{user}} </span>
    </mat-menu>

    <h3 style="margin: 8px; font-weight: 500">
      {{ usuario }}
    </h3>
  </div>
  <div #scrollMe id="chatroom" class="chatroom">
    <div *ngFor="let mg of msgs" ngClass="{{ mg.clase }}">
      <p style="font-size: smaller; margin: 0">{{ mg.user }} dice:</p>
      <p style="margin: 0">{{ mg.message }}</p>
      <div class="date">
        <i>{{ mg.timeStamp }}</i>
      </div>
    </div>
  </div>
  <div class="input">
    <mat-form-field>
      <textarea
        matInput
        [(ngModel)]="messagebox"
        placeholder="Escribir mensaje..."
        (keydown.enter)="sendMessage()"
      ></textarea>
    </mat-form-field>
    <button mat-button color="primary" (click)="sendMessage()">Enviar</button>
  </div>

  <!-- <mat-drawer-container>
    <mat-drawer mode="side" opened>
      <h4>Usuarios</h4>
      <li>{{ user }}</li>
    </mat-drawer>
    <mat-drawer-content>
      <div id="msgbox" class="messages"></div>
      <div class="mybubble">
        <p style="font-size: smaller; margin: 0;" >
          dice:
        </p>
        Hola Mundo!
      </div>

      <div class="input">
        <mat-form-field>
          <textarea
            matInput
            [(ngModel)]="message"
            placeholder="Escribir mensaje..."
            (keydown.enter)="sendMessage()"
          ></textarea>
        </mat-form-field>
        <button mat-button color="primary" (click)="sendMessage()">
          Enviar
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container> -->
</div>
