<div class="main-div">
  <br />
  <div class="profile-photo2">
    <div class="profile-photo1">
      <img
        src="../../../assets/perfil-LinkedIn.jpg"
        alt="profile"
        width="240px"
        height="240px"
        style="border-radius: 29% 71% 73% 27% / 48% 41% 59% 52%"
      />
    </div>
  </div>
  <br />

  <h3 class="typewriter" style="font-size: x-large;">Hola, soy</h3>
  <h1 class="typewriter" style="animation-delay: 1.4s">
    Sebastian Cely<span class="underline">__</span>
  </h1>

  <h2>Desarrollador Web Full Stack</h2>
  <div class="container">
    <p>
      Este es un Portafolio de Aplicaciones Web, elaborado con Angular, que
      consta de pequeñas aplicaciones demostrando sus funcionalidades básicas.
      <br /><br />
      Seleccione el <b>menú de la esquina superior izquierda</b> para navegar
      entre las aplicaciones disponibles
    </p>
  </div>
  <br />

  <h2 style="text-align: center">Frameworks y lenguajes:</h2>
  <caption>
    Seleccione para ir a la documentación
  </caption>

  <div class="skills-container">
    <div class="skills" *ngFor="let skill of skillsList">
      <div (click)="skillClick(skill.ref)">
        <div style="display: flex">
          <div class="skill-icon">
            <img
              src="{{ skill.icon }}"
              alt="{{ skill.name }}"
              style="display: flexbox"
            />
          </div>
          <div class="skill-name">
            <b style="display: flexbox"> {{ skill.text }} </b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <h2>Plataformas y herramientas</h2>
  <caption>
    Seleccione para conocer más
  </caption>

  <div class="skills-container">
    <div class="skills" *ngFor="let tool of toolsList">
      <div (click)="skillClick(tool.ref)">
        <div style="display: flex">
          <div class="skill-icon">
            <img
              src="{{ tool.icon }}"
              alt="{{ tool.name }}"
              style="display: flexbox"
            />
          </div>
          <div class="skill-name">
            <b style="display: flexbox"> {{ tool.text }} </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
