.main-div {
    display: flex;
    justify-content: flex-start;
    min-height: fit-content;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1161%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(250%2c 250%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M -340.8808456465661%2c118 C -196.88%2c190.4 91.12%2c470.6 379.1191543534339%2c480 C 667.12%2c489.4 811.12%2c159.6 1099.119154353434%2c165 C 1387.12%2c170.4 1750.94%2c522.6 1819.119154353434%2c507 C 1887.3%2c491.4 1515.82%2c171 1440%2c87' stroke='rgba(38%2c 156%2c 191%2c 0.16)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -912.5395584121709%2c375 C -768.54%2c320.4 -480.54%2c98.6 -192.53955841217095%2c102 C 95.46%2c105.4 239.46%2c376.6 527.4604415878291%2c392 C 815.46%2c407.4 1064.95%2c167.4 1247.460441587829%2c179 C 1429.97%2c190.6 1401.49%2c395.8 1440%2c450' stroke='rgba(38%2c 156%2c 191%2c 0.16)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -799.2991319248869%2c277 C -655.3%2c304 -367.3%2c459.4 -79.29913192488685%2c412 C 208.7%2c364.6 352.7%2c37.4 640.7008680751131%2c40 C 928.7%2c42.6 1200.84%2c378 1360.7008680751132%2c425 C 1520.56%2c472 1424.14%2c305 1440%2c275' stroke='rgba(38%2c 156%2c 191%2c 0.16)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1161'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
}

div.profile-photo1 {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #16d8ff80;
    border-radius: 77% 23% 24% 76% / 42% 48% 52% 58%;
    width: 240px;
    height: 245px;
}

div.profile-photo2 {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #db3964a9;
    border-radius: 34% 66% 74% 26% / 72% 61% 39% 28%;
    width: 255px;
    height: 240px;
}

h3.typewriter {
    font-family: 'sarabun', 'arial', sans-serif;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(44) 1s 1 normal both;
}

h1.typewriter {
    font-family: 'sarabun', 'arial', sans-serif;
    font-size: xx-large;
    height: 40px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 2s steps(44) 1s 1 normal both;
}

h2 {
    font-family: 'sarabun', 'arial', sans-serif;
    font-weight: 500;
    margin: 10px;
}

p {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: #282a3609;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    font-family: 'sarabun', 'arial', sans-serif;
    font-size: medium;
}

div.container {
    max-width: 800px;
    min-width: 150px;
    text-align: justify;
}

div.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-width: 150px;
    max-width: 800px;
}

div.skills {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    margin: 10px;
    min-width: fit-content;
    height: 50px;
    justify-content: center;
    border-radius: 10px;
    background: #ffffff1f;
    box-shadow: -3px -3px 6px 1px #ffffffc2, 3px 3px 6px 1px rgba(26, 26, 26, 0.233) !important;
}

div.skills:hover {
    background: lightcyan;
    cursor: pointer;
}

div.skill-icon {
    display: flex;
    width: fit-content;
    height: 30px;
    padding: 5px;
    margin: 5px;
    animation: growCard 0.5s;
}

div.skill-name {
    display: flex;
    padding: 5px;
    margin: 5px;
    align-items: center;
}

span.underline {
    color: #343641;
    animation: blink 1s step-start infinite;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 450px;
    }
}

@keyframes blink {
    from, to {
        color: transparent
    }

    50% {
        color: #343641
    }
}

@keyframes growCard {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes appearPhoto {
    from {
        /* transform: scale(0); */
        opacity: 0;
    }

    to {
        /* transform: scale(1); */
        opacity: 1;
    }
}