<div class="main-div">
    <br>
    <div class="header">
        <h1>Aplicación del clima</h1>
        <mat-divider></mat-divider>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, eum fuga? Ex dolore aperiam temporibus
            ab commodi harum ut quaerat inventore. Asperiores in adipisci quidem hic repellat! Temporibus, illum
            delectus.</p>
    </div>
    <br>

    <mat-card>
        <div *ngIf="loading">
            <h2>Cargando información, por favor espere.</h2>
        </div>

        <div *ngIf="!loading" style="text-align: center">
            <p> Your location is: <i>{{country_name}}, {{region_name}} in {{city}}. </i></p>
            <h2>The weather now is {{weatherNow}} </h2>
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile colspan="1"><mat-icon>wb_cloudy</mat-icon></mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <p>Datetime: </p> 
                    <p>Temp: </p> 

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-card>
</div>