<!-- Toolbar -->
<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span> {{title}} </span>
</mat-toolbar>

<!-- Side nav -->
<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="push">
    <h3 class="drawer-title">Aplicaciones Portafolio</h3>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item class="drawer-item">
        <a routerLink="/" routerLinkActive="active" (click)="drawer.toggle()"
          ariaCurrentWhenActive="page">Perfil</a>
      </mat-list-item>

      <mat-list-item class="drawer-item">
        <a routerLink="/todo-list" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
          Lista de tareas</a>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<footer>
  <br>
  <p>Elaborado con Angular</p>
</footer>