<!-- Toolbar -->
<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Portafolio en Angular</span>
</mat-toolbar>

<!-- Side nav -->
<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="push">
    <h3 class="drawer-title">Aplicaciones Portafolio</h3>
    <mat-divider></mat-divider>
    <mat-list>
      <a routerLink="/" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
        <mat-list-item class="drawer-item">Perfil</mat-list-item>
      </a>
      <a routerLink="/todo-list" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
        <mat-list-item class="drawer-item">Lista de tareas</mat-list-item>
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<footer>
  <br>
  <p>Elaborado con Angular</p>
</footer>