<!-- Toolbar -->
<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span> {{title}} </span>
</mat-toolbar>

<!-- Side nav -->
<mat-sidenav-container autosize>
  <mat-sidenav #drawer mode="push">
    <h2 class="drawer-title">Aplicaciones</h2>
    <mat-divider></mat-divider>
    <mat-list>
      <a routerLink="/home" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
        <li routerLinkActive="active">
          <mat-icon>assignment_ind</mat-icon> &nbsp; Perfil
        </li>
      </a>

      <a routerLink="/todo-list" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
        <li routerLinkActive="active">
          <mat-icon class="list-icon">check_circle</mat-icon> &nbsp; Lista de tareas
        </li>
      </a>

      <a routerLink="/weather-app" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
        <li routerLinkActive="active">
          <mat-icon class="list-icon">wb_sunny</mat-icon> &nbsp; Aplicación del Clima
        </li>
      </a>

      <a routerLink="/app-realtime-location" routerLinkActive="active" (click)="drawer.toggle()" ariaCurrentWhenActive="page">
        <li routerLinkActive="active">
          <mat-icon class="list-icon">location_on</mat-icon> &nbsp; Localización en tiempo real
        </li>
      </a>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<footer>
  <p> <a href="https://www.linkedin.com/in/sebastian-cely/" target="_blank">Contacto LinkedIn</a></p>
  <p>Elaborado en Angular por: Sebastian Cely</p>
  <p>2022</p>
</footer>