h1 {
    text-align: center;
}

h3 {
    font-weight: bold;
}

mat-toolbar {
    background-color: #282A36;
    color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;

}

/* .drawer-item {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
} */

.drawer-title {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.drawer-item {
    background-color: #fafafa;
    border-radius: 50px;
    margin: 4px;
    box-shadow: -2px 2px 2px 1px rgba(31, 31, 31, 0.233);
    transition: box-shadow .25s;
    filter: blur(0px);
}

.drawer-item:hover {
    font-size: small;
    font-weight: 500;
    background-color: #fafafa;
    box-shadow: -4px 4px 4px 1px rgba(31, 31, 31, 0.233);
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #e8eaeb;
    color: rgb(15, 15, 15);
    z-index: 1;
}

a {
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: #282A36;
}

a.active {
    color: #34b3f3;
    font-weight: bold;
}



li {
    display: flex;
    align-content: center;
    background-color: #fafafa;
    list-style-type: none;
    border-radius: 5px;
    /* box-shadow: -2px 2px 2px 1px rgba(31, 31, 31, 0.233); */
    transition: box-shadow .25s;
    margin: 6px;
    padding: 5px;
}

li:hover {
    font-size: small;
    background-color: #f5f2f2;
    box-shadow: -1px 1px 1px 1px rgba(31, 31, 31, 0.233);
}

li.active {
    background-color: #c3ebff;
}

.list-icon {
    display: flex;
}

p {
    margin: 0px;
    font-size:x-small;
}

p a {
    margin: 0px;
    font-size:small;
}