<div class="main-div">
    <br>
    <div class="header">
        <h1>Aplicación del clima</h1>
        <mat-divider></mat-divider>
        <br>
        <p style="text-align: justify;" >Aplicación del clima que toma la direcicón IP para la geolocaclización. Arroja el clima actual usando la
            ubicación del opreador de internet.Implementa la API de <b>OpenWeather</b> para la información e iconos.</p>
    </div>
    <br>

    <mat-card class="weather-card">
        <div *ngIf="loading">
            <h2>Cargando información, por favor espere.</h2>
        </div>

        <div *ngIf="!loading" style="text-align: center; min-width: 345px;">
            <p> Your location is: <i>{{country_name}}, {{region_name}} in {{city}}. </i></p>
            <h2 style="text-transform: capitalize;"> {{weatherNow}} </h2>
            <mat-grid-list cols="3" rows="2" rowHeight="50px">
                <mat-grid-tile class="card-styles-icon" colspan="1" rowspan="2">
                    <img src="{{icon}}" alt="weather icon">
                    <!-- <mat-icon style="transform: scale(2);">wb_cloudy</mat-icon> -->
                </mat-grid-tile>
                <mat-grid-tile class="card-styles" style="padding-top: 15px;" colspan="2" rowspan="1">
                    <h1 style="font-size: 30px;">{{temp}} C°</h1>
                </mat-grid-tile>
                <mat-grid-tile class="card-styles" colspan="1" rowspan="1">
                    <p>Feels Like: {{feelsLike}} °C <br> Wind speed: {{windSpd}} m/s</p>
                </mat-grid-tile>
                <mat-grid-tile class="card-styles" colspan="1" rowspan="1">
                    <p>TempMáx: {{tempMax}} °C <br> TempMin: {{tempMin}} °C</p>
                </mat-grid-tile>
            </mat-grid-list><br>
            <p style="font-size: smaller;"> {{date}} </p>
        </div>
    </mat-card>
</div>